---
name: Release
# This workflow is triggered when publishing a GitHub release
on:
  release:
    types:
      - published

jobs:
  release:
    permissions:
      id-token: write
      contents: write
    uses: SonarSource/gh-action_release/.github/workflows/main.yaml@b9284ef49674428c976147100b9072f74427fbc7 # v6.3.0
    with:
      publishToBinaries: true
      mavenCentralSync: true
      slackChannel: team-sonarqube-build
